{if="!empty($_GET['source']) && $_GET['source']=='bookmarklet'"}
  {ignore} When called as a popup from bookmarklet, do not display menu. {/ignore}
{else}
<nav class="navbar navbar-default">
  <div class="container-fluid ombre">
    <div class="navbar-header">
      <a href="#" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target=".sl-menu"
        aria-expanded="false">
        <span class="sr-only">{'Show/hide menu'|t}</span>
        <i class="fa fa-fw fa-lg fa-chevron-down"></i>
      </a>
      <a href="{$titleLink}" class="navbar-brand">{$shaarlititle}</a>
    </div>

    <div class="collapse navbar-collapse sl-menu">
      <ul class="nav navbar-nav">
        <li><a href="?do=picwall{$searchcrits}" class="btn btn-link">{'Picture wall'|t}</a></li>
        <li><a href="?do=daily" class="btn btn-link">{'Daily'|t}</a></li>
      </ul>

      <ul class="list-inline pull-right navbar-nav navbar-brand">
        {loop="$plugins_header.buttons_toolbar"}
          {$value}
        {/loop}
        <li><a href="#globalSearch" data-toggle="modal" title="{'Search'|t}">
          <i class="fa fa-fw fa-lg fa-search"></i><span class="sr-only">{'Search'|t}</span>
        </a></li>
        <li class="dropdown paging_linksperpage">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{'Display options'|t}">
            <i class="fa fa-fw fa-lg fa-eye"></i><span class="sr-only">{'Display options'|t}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            {if="$plugins_header._PAGE_ == linklist"}
            <li class="dropdown-header">{'Links per page:'|t}</li>
            <li><a href="?linksperpage=20">20{' links'|t}</a></li>
            <li><a href="?linksperpage=50">50{' links'|t}</a></li>
            <li><a href="?linksperpage=100">100{' links'|t}</a></li>
            <li><form method="GET" class="linksperpage"><input type="text" name="linksperpage" size="2" class="form-control input-sm" placeholder="{'Custom value...'|t}" ></form></li>
            {if="isLoggedIn()"}
            <li class="divider"></li>
            <li>
              <a href="?privateonly">
              {if="$privateonly"}
                <i class="fa fa-fw fa-lg fa-toggle-on"></i>
                {'Show only private links'|t} <span class="sr-only">{'actually enabled'|t}</span>
              {else}
                <i class="fa fa-fw fa-lg fa-toggle-off"></i>
                {'Show only private links'|t} <span class="sr-only">{'actually disabled'|t}</span>
              {/if}
              </a>
            </li>
            {/if}
            {/if}
          </ul>
        </li>

        <li><a href="{$feedurl}?do=rss{$searchcrits}" title="{'RSS Feed'|t}">
          <i class="fa fa-fw fa-lg fa-rss"></i><span class="sr-only">{'RSS Feed'|t}</span>
        </a></li>
        {if="$GLOBALS['config']['SHOW_ATOM']"}
        <li><a href="{$feedurl}?do=atom{$searchcrits}" title="{'ATOM Feed'|t}">
          <i class="fa fa-fw fa-lg fa-rss"></i><span class="sr-only">{'ATOM Feed'|t}</span>
        </a></li>
        {/if}
        {if="isLoggedIn()"}
        <li><a href="?do=addlink"><i class="fa fa-fw fa-lg fa-plus-circle"></i><span class="sr-only">{'Add link'|t}</span></a></li>
        <li><a href="?do=tools"><i class="fa fa-fw fa-lg fa-cog"></i><span class="sr-only">{'Tools'|t}</span></a></li>
        <li><a href="?do=logout"><i class="fa fa-fw fa-lg fa-power-off"></i><span class="sr-only">{'Logout'|t}</span></a></li>
        {elseif="$GLOBALS['config']['OPEN_SHAARLI']"}
        <li><a href="?do=addlink"><i class="fa fa-fw fa-lg fa-plus-circle"></i><span class="sr-only">{'Add link'|t}</span></a></li>
        <li><a href="?do=tools"><i class="fa fa-fw fa-lg fa-cog"></i><span class="sr-only">{'Tools'|t}</span></a></li>
        {else}
        <li><a href="?do=login"><i class="fa fa-fw fa-lg fa-user"></i><span class="sr-only">{'Login'|t}</span></a></li>
        {/if}
      </ul>
    </div>
  </div>
</nav>
{/if}

<!-- modal globalSearch -->
<div class="modal fade" id="globalSearch" tabindex="-1" role="dialog" aria-labelledby="globalSearchLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="GET" class="searchform" name="searchform">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">{'Close'|t}</span></button>
        </div>
        <div class="modal-body">
          <input type="search" id="searchform_value" class="form-control input-lg awesomplete" name="searchterm"
            placeholder="{'Search something here...'|t}" autocomplete="off" data-multiple data-minChars="1"
            {if="!empty($search_term)"}
            value="{$search_term}"
            {/if}
            data-list="{loop="$tags"}{$key}, {/loop}"
          >
        </div>

        <div class="modal-footer text-right">
          <button type="button" id="button-filter" class="btn btn-lg btn-default" onclick="location.href = '?searchtags='+document.getElementById('searchform_value').value">{'Filter by tag'|t}</button>
          <button type="submit" id="button-search" value="{'Search'|t}" class="btn btn-lg btn-primary">{'Search'|t}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /modal globalSearch -->

<div class="row">
  <div class="container">
    {if="!empty($plugin_errors) && isLoggedIn()"}
    <ul class="errors list-unstyled">
      {loop="plugin_errors"}
      <li class="alert alert-warning">{$value}</li>
      {/loop}
    </ul>
    {/if}
  </div>
</div>
{if="!empty($plugins_header.login)"}{$plugins_header.login}{/if}


